@font-face{font-family:"Conduit ITC";src:url(dew://lib/Conduit-ITC.woff);}
body {
    margin: 0;
    font-family: "Conduit ITC", sans-serif;
    background-color: rgba(0, 0, 0, 0.4);
}

:root {
    --side-margin: 120px;
    --header-top-padding: 64px;
    --header-top-height: 90px;
    --sorting-height: 70px;
    --options-height: 84px;
}

.header {
    position: absolute;
    top: var(--header-top-height);
    width: calc(100% - var(--side-margin) - var(--side-margin) );
    height: var(--options-height);
    padding-left: var(--side-margin);
    padding-right: var(--side-margin);
    z-index: 9;
}

.header h1 {
    margin: 0;
    font-size: 56px;
    color: white;
    font-weight: 400;
    display: inline-block;
}

.header button {
    float: right;
}

.optionsBar {
    position: absolute;
    top: calc(var(--header-top-height) + var(--options-height));
    width: calc(100% - var(--side-margin) - var(--side-margin) );
    height: var(--options-height);
    padding-left: var(--side-margin);
    padding-right: var(--side-margin);
    z-index: 9;
}

.optionsBar button {
    background-color: rgba(0, 0, 0, 0.4);
    height: 60px;
    width: 49%;
    border: none;
    color: lightsteelblue;
    text-transform: uppercase;
    font-size: 18px;
}

.leftOptions {
    width: 80%;
    height: 100%;
    float: left;
    overflow: hidden;
}

.rightOptions {
    width: 20%;
    height: 100%;
    float: right;
    z-index: 9;
    overflow: visible;
}

.searchBox {
    width: 400px;
    float: left;
}

.searchBox span {
    display: inline-block;
    line-height: 64px;
    color: white;
    font-size: 32px;
    margin-right: 20px;
}

.searchBox input {
    height: 56px;
    padding: 12px;
    color: white;
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-table;
    top: 4px;
    position: absolute;
    width: 300px;
    font-size: 20px;
}

.searchIcon {
    display: inline-block;
    background-image: url(img/icon-search.svg);
    color: lightsteelblue;
    vertical-align: top;
    margin-top: 8px;
    width: 48px;
    height: 48px;
}

.pageControls {
    width: 280px;
    float: right;
}

.pageControls span {
    color: lightsteelblue;
    text-transform: uppercase;
    font-size: 36px;
    padding: 20px;
}

.pageControls button {
    width: 100px;
}

.pageWrapper {
    position: absolute;
    top: calc(var(--header-top-height) + var(--options-height)*2);
    width: calc(100% - var(--side-margin) - var(--side-margin) );
    height: calc(100% - (2 * var(--header-top-height)) - var(--options-height));
    padding-left: var(--side-margin);
    padding-right: var(--side-margin);
    z-index: 4;
}

.cardsWrapper {
    width: 79%;
    height: 100%;
    float: left;
    overflow: hidden;
    top: var(--options-height);
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.detailsWrapper {
    width: 20%;
    height: 100%;
    float: right;
    z-index: 5;
    overflow: visible;
    top: var(--options-height);
}

.detailsWrapper input {
    background-color: rgba(0, 0, 0, 0.4);
    color: lightsteelblue;
    border: none;
    display: table;
    margin-bottom: 0.1vh;
    position: relative;
    box-sizing: border-box;
    font-size: 18px;
}

.card {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.4);
    color: lightsteelblue;
    max-width: 320px;
    perspective: 1000px;
    position: relative;
    text-align: left;
    z-index: 9;
    margin: 0px;
    border: 2px solid transparent;
    padding: 2px;
}

.card h2, .card h4 {
    margin: 5px;
    margin-left: 15px;
}

.card:hover {
    border-color: azure;
}

.card img {
    max-width: 320px;
    max-height: 150px;
    width: 320px;
    height: 150px;
}

.card-title {
    position: relative;
    z-index: 0;
    background: rgba(0, 0, 0, 0.4);
    padding: 6px 15px 10px;
}

.caption {
    font-size: 20px;
    padding: 30px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0px;
}

.caption.span {
    display: table;
    margin-bottom: 0.1vh;
    position: relative;
    padding-left: 3.96vh;
    padding-right: 3.96vh;
    box-sizing: border-box;
    font-size: 18px;
}

.stat {
    display: block;
    float: right;
    font-weight: 500;
    color: lightsteelblue;
    line-height: 2;
}

.info {
    display: block;
    font-weight: 500;
    color: rgb(255, 255, 255);
    line-height: 2;
}

.download-button {
    display: block;
    width: 100%;
    height: 75px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-sizing: border-box;
    padding: 15px 10px 10px;
    transition: 0.25s ease-out;
    text-decoration: none;
    line-height: 45px;
}

.download-button:hover {
    color: orange;
}

.submitForm {
    position: absolute;
    top: 10%;
    left: 30%;
    width: 40%;
    height: 80%;
    background: 	linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%),
    linear-gradient(to right, rgba(11,25,51,1) 0%,rgba(14,25,45,1) 70%,rgba(9,22,46,1) 100%);
    z-index: 99;
    padding: 40px;
    box-sizing: border-box;
    font-size: 24px;
    color: white;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.submitForm h1 {
    margin: 0;
    font-size: 56px;
    color: white;
    font-weight: 400;
    margin-bottom: 20px;
}

.submitForm input[type=text], select {
    width: 100%;
    height: 56px;
    padding: 12px 20px;
    margin: 20px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 18px;
}

.submitForm input[type=submit] {
    display: block;
    width: 100%;
    height: 75px;
    color: white;
    background-color: cornflowerblue;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-sizing: border-box;
    padding: 15px 10px 10px;
    transition: 0.25s ease-out;
    text-decoration: none;
    line-height: 45px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.submitForm a {
    position: absolute;
    bottom: 40px;
    right: 40px;
    color: red;
}

button#refresh:hover {
    opacity: 1;
}
button#refresh {
    width: 48px;
    height: 48px;
    font-size: 0;
    background: none;
    border: none;
    background-image: url(img/icon-refresh.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* top: 0; */
    vertical-align: top;
    margin-top: 8px;
    outline: none;
    opacity: 0.8;
}
button#refresh.refreshing{
    opacity: 1;
    animation-name: refreshing;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes refreshing {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}